body{
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* SideBar start */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

#sidebar .sidebar-header {
  width: 100%;
  padding: 20px;
  background: #6d7fcc;
}

#overlay {
  display: block;
  opacity: 0;
  /* animate the transition */
  transition: all 0.22s ease-in-out;

  position: fixed;
  top: 0;
  left: 0;
  /* full screen */
  width: 0;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
}
/* display #overlay when it has the .active class */
#overlay.active {
  width: 100vw;
  opacity: 1;
}

#dismiss {
    /* width: 35px;
    height: 35px; */
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}
/* SideBar end */